---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alberto Torres.">
  <main class="w-full flex items-end">
    <figure class="w-60 md:w-[30rem] relative">
      <img
        src="albe-dev.webp"
        alt="imagen de programador rubio pixelado"
        class="w-16 h-20 object-cover float-left mr-1"
      />
      <h2 class="text-2xl mt-14 font-semibold">
        Hello there! I'm Alberto Torres 👋
      </h2>
    </figure>
  </main>
</Layout>
