<p>
  This privacy policy governs the use of the following mobile applications, created and maintained
  by MoureDev listed in the following link:
</p>
<div>
  <h2>WHAT INFORMATION DOES THE APPLICATION OBTAIN AND HOW IS IT USED?</h2>
  <h4>Information provided by the user</h4>
  <p>
    The application does not require any registration with MoureDev, but does require the user to
    maintain an Apple App Store account (iOS) and/or a Google Play Store account (Android) to
    download the application(s) and use its services.
  </p>
  <h4>Información obtenida automáticamente</h4>
  <p>
    Adicionalmente, la aplicación puede recopilar de forma automática otro tipo de información, como
    ser: tipo de dispositivo móvil, país del usuario, dirección IP, el sistema operativo del
    dispositivo móvil e información de cómo se usa la aplicación.
  </p>
</div>
<div>
  <h2>DOES THE APPLICATION OBTAIN ACCURATE, REAL-TIME INFORMATION FROM THE DEVICE?</h2>
  <p>
    La aplicación no recopila información precisa y en tiempo real de la ubicación del dispositivo
    en ningún momento.
  </p>
</div>
<div>
  <h2>¿PUEDEN TERCEROS OBTENER ACCESO A LA INFORMACIÓN OBTENIDA POR LA APLICACIÓN?</h2>
  <p>
    Sí. Puedo compartir la información proporcionada por el usuario o la obtenida automáticamente en
    los siguientes casos:
  </p>
  <ul>
    <li>Cuando sea requerido por la ley.</li>
    <li>
      Cuando creamos que es necesario para proteger nuestros derechos, proteger su seguridad o la
      seguridad de otros, investigar fraude o en respuesta a una solicitud del gobierno.
    </li>
    <li>
      Con proveedores que trabajan en nuestro nombre y que han aceptado regirse por las reglas
      establecidas en esta política de privacidad.
    </li>
    <li>
      Con anunciantes y redes de anuncios de terceros, así como se describe en la sección “
      Información obtenida automáticamente”.
    </li>
  </ul>
</div>
<div>
  <h2>RECOLECCIÓN AUTOMÁTICA DE DATOS Y PUBLICIDAD</h2>
  <p>
    Puedo trabajar con anunciantes y redes de anunciantes de terceros, quienes necesitan saber como
    usted interactúa con la publicidad presente en la aplicación, quienes ayudan a mantener los
    precios bajos. Los anunciantes y las redes de anunciantes pueden utilizar parte de la
    información recopilada por la aplicación.
  </p>
</div>
<div>
  <h2>POLÍTICA DE RETENCIÓN Y MANEJO DE INFORMACIÓN</h2>
  <p>
    Conservo los datos proveídos por el usuario y los recolectados automáticamente de forma
    indefinida, ya que se necesita para el uso correcto de la aplicación.
  </p>
</div>
<div>
  <h2>SEGURIDAD</h2>
  <p>
    Me preocupo por salvaguardar la confidencialidad de su información, por lo que cuento con las
    medidas necesarias para lograr este fin. Por ejemplo, limitamos el acceso a esta información a
    los empleados y contratistas autorizados que necesitan conocer dicha información para operar,
    desarrollar o mejorar nuestra aplicación. Tenga en cuenta que aunque me esfuerzo por proveer un
    nivel de seguridad razonable para manejar y procesar la información, pero ningún sistema de
    seguridad puede prevenir todas las brechas de seguridad potenciales.
  </p>
</div>
<div>
  <h2>CAMBIOS</h2>
  <p>
    Esta Política de Privacidad puede ser actualizada de vez en cuando por cualquier razón. Le
    notificaremos de cualquier cambio en nuestra política de privacidad mediante la publicación de
    la nueva política de privacidad en esta página.
  </p>
</div>
<div>
  <h2>SU CONSENTIMIENTO</h2>
  <p>
    Al utilizar los Servicios, usted está consintiendo a nuestro procesamiento de usuario
    proporcionada y automáticamente la información de Colección como se establece en esta Política
    de Privacidad de vez modificado por nosotros. «Proceso» , significa el uso de cookies en un
    dispositivo de la computadora / de mano o el uso o tocar a la información de cualquier manera,
    incluyendo, pero no limitado a , recoger, almacenar , borrar , utilizar la combinación y la
    divulgación de la información, todas las actividades que se llevarán a cabo en los Estados
    Unidos. Si usted reside fuera de los EE.UU. su información será transferida a los EE.UU. , y se
    procesa y se almacena allí, bajo los estándares de privacidad de Estados Unidos. mediante el uso
    de la aplicación y proporcionar información a mí, usted consiente en dicha transferencia y
    procesamiento de , los EE.UU.
  </p>
</div>
