---
import { Icon } from 'astro-icon/components'

type Props = {
  bg: string
  img: string
  text: string
  link?: string
  textcolor?: string
}

const { img, bg, text, link, textcolor = 'text-black' } = Astro.props
---

<a href={link} target='_blank'>
  <div class='flex gap-x-1 w-fit h-8 bg-black shadow-md'>
    <figure class='h-8 w-8'>
      <Icon name={img} class='h-full w-full object-cover' />
      <!-- <Image src={js} alt='skill img' class='h-full w-full object-cover' width={32} height={32} /> -->
    </figure>
    <div class:list={['p-2 flex items-center', bg]}>
      <p class:list={['uppercase tracking-widest font-semibold', textcolor]}>
        {text}
      </p>
    </div>
  </div>
</a>
