---
interface Props {
  title: string
  body: string | null
  href: string
  deploy: string | undefined
}

const { href, title, body, deploy } = Astro.props
---

<div class='p-4 gap-y-2 flex flex-col justify-between border-2 rounded-md md:max-w-80'>
  <div class='space-y-2'>
    <h2 class='text-xl font-semibold'>
      {title}
      <span>&rarr;</span>
    </h2>
    <p class=''>
      {body}
    </p>
  </div>
  <div class='w-full h-fit flex justify-end gap-x-1'>
    <a
      href={href}
      target='_blank'
      class='hover:bg-black w-10 h-10 hover:rounded-full p-1 hover:h-fit transition-all'
    >
      <img src='github.svg' alt='' class='w-full h-full object-cover' /></a
    >
    <a
      href={deploy}
      target='_blank'
      class='hover:bg-black w-10 h-10 hover:rounded-full p-1 hover:h-fit transition-all'
      ><img src='web.svg' alt='' class='w-full h-full object-cover' /></a
    >
  </div>
</div>
