---
const anchors = [
  {
    link: '/',
    name: 'Home',
  },
  {
    link: '/blog',
    name: 'Blog',
  },
]
---

<nav class='relative'>
  <input type='checkbox' id='menu' class='peer/menu hidden' />
  <label
    for='menu'
    class='w-10 h-10 absolute right-0 top-4 rounded-md z-50 bg-cover p-2 bg-green-700 text-lg md:hidden bg-open-menu peer-checked/menu:bg-close-menu inline-block transition-all duration-500'
  >
  </label>

  <ul
    class={'peer-checked/menu:h-full fixed z-40 inset-0 top-0 md:h-fit bg-blue-950 p-[5%] grid auto-rows-max content-center justify-items-center clip-circle-0 peer-checked/menu:clip-circle-full transition-all duration-500 gap-6 md:clip-circle-full md:right-0 md:absolute md:w-fit md:grid-flow-col md:inset-auto md:px-0 md:py-5 md:bg-transparent '}
  >
    {
      anchors.map(anchor => (
        <li class='cursor-pointer'>
          <a href={anchor.link}>
            <p class='font-normal opacity-75 hover:opacity-100 hover:text-lg transition-[font-size] md:duration-700'>
              {anchor.name}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</nav>
