---
import { getCollection } from 'astro:content'
import Tag from './Tag.astro'

interface TagCount {
  [key: string]: number
}

const filteredPosts = await getCollection('posts', p => {
  if (p.data.draft !== true && new Date(p.data.date) < new Date()) {
    return p
  }
})
const allTags = filteredPosts.map(post => post.data.tags.map(t => t.toLowerCase())).flat()
const processedCats = allTags.reduce((acc: TagCount, tag: string) => {
  const value = acc[tag] || 0

  return {
    ...acc,
    [tag]: value + 1,
  }
}, {})
---

<div>
  <h3 class='text-lg font-bold my-5'>Tags:</h3>
  <div>
    {Object.entries(processedCats).map(([key, value]) => <Tag tagname={key} count={value} />)}
  </div>
</div>
